@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

body {
    background-image: url(https://us.123rf.com/450wm/gonin/gonin1904/gonin190400118/121844567-chuva-de-c%C3%B3digo-de-computador-verde-no-ciberespa%C3%A7o-conceito-de-tecnologias-de-informa%C3%A7%C3%A3o-futurista.jpg?ver=6);
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

#cabecalho {
    text-align: center;
    background-color: rgb(6, 73, 49);
    margin: 0;
    padding: 15px 0;
    font-family: 'Playpen Sans', sans-serif;
}

.container_principal {
    display: flex;
    gap: 200px;
    /* align-items: center; */
    justify-content: space-between;
    width: 50%;
    margin-bottom: 7%;
}

.container_numeral {
    background: rgba(6, 73, 49, 0.8);
    padding: 5% 25% 5% 5%;
    border-radius: 18px;
    margin-left: 22%;
}

.titulo_conversor {
    padding-bottom: 5%;
}

.container_valor{
    display: none; 
    background-color: #dcdcdc; 
    border-radius: 5px; 
    padding: 5px; 
    color: rgb(0, 0, 0); 
    width: 100%; 
    height: 40px; 
    font-weight: 500;
}

input {
    padding: 3% 10%;
    border-radius: 10px;
}

button {
    border-radius: 18px;
    padding: 5px 40px;
    border: 5px outset #3cb371;
}

#rodape {
    text-align: center;
    background-color: rgb(6, 73, 49);
    margin: 0;
    padding: 15px 0;
    font-family: 'Playpen Sans', sans-serif;
}